a:link {
    color: #FFFFFF;
    text-decoration: none;
}

a:visited {
    color: #FFFFFF;
    text-decoration: none;
}

a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}

a:active {
    color: #FFFFFF;
    text-decoration: underline;
}

code {
    color: #FFFFFF !important;
}
