@import "../../App.scss";

.page-container {
    margin-bottom: 14.5em;
}

.row {
    height: auto;
}

.project-card {
    margin-top: 1em;
}

.toolbar {
    border-bottom-width: 1px;
    border-bottom-color: #063053;
    border-bottom-style: solid;
}

.search-box {
    margin-right: 1em;
    margin-top: 1em;
    min-width: 30%;
    border-width: 0;
    border-bottom-width: 1px;
    border-bottom-color: #063053;
    border-bottom-style: solid;
}

.sort-button {
    margin-top: 1em;
}

.layout-toggle {
    margin-top: 1em;
}


